
<%- include('header'); -%> 
<form method="POST" action="/api/register">
    <label>Username</label> <br>
    <input type="text" name="username" placeholder="Please enter your username"> <br>
    <br>
    <label>Password</label> <br>
    <input type="password" name="passwsord" placeholder="Please enter your password"> <br>
    <br>
    <label>Society</label> <br>
    <input type="text" name="society" placeholder="Please enter your society"> <br>
    <br>
    <label> Contact </label> <br>
    <input type="text" name="contact" placeholder="Please enter your contact"> <br>
    <br>
    <label> Address</label> <br>
    <input type="text" name="address" placeholder="Please enter your address"> <br>
    <br>
    <label> Zip Code</label> <br>
    <input type="text" name="zipcode" placeholder="Please enter your zipcode"> <br>
    <br>
    <label> City</label> <br>
    <input type="text" name="city" placeholder="Please enter your city"> <br>
    <br>
    <label> Fax</label> <br>
    <input type="text" name="fax" placeholder="Please enter your fax"> <br>
    <br>
    <label> Max outstanding</label> <br>
    <input type="number" name="max outstanding" placeholder="Please enter your max max outstanding details"> <br>
    <br>
        <button> submit </button>
</form>
<%- include('footer'); -%>

